body {
	background: #EEE;
}

header {
	background: white;
	width: 100%;
}

h1 {
	background: #4AAAA5;
	width: 200px;
	color: white;
	float: left;
	text-align: center;

}

nav {
	float:right;
}

main {
	clear: both;
	float: left;
	width: 60%;
}

#picture {
	float:left;
}

.connect {
	float: left;
}

footer {
	clear: both;
	background: #666;
	color: #777777;
}